@model List<Boat>;
@using System.Globalization
@{
    var cultureFr = new CultureInfo("fr-FR");
    ViewData["Title"] = "Toutes les fermetures";
}
<h1>@ViewData["Title"]</h1>


<h3>Fermetures à venir :</h3>
<table class="table">
    <thead>
        <tr>
            <th>Bateau concerné :</th>
            <th>Prochaine fermeture :</th>
            <th>Durée de la fermeture :</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                if (item._closingDate >= DateTime.Today) {
                    <tr>
                        <td>@item._boatName</td>
                        <td>@item._closingDate.ToString("dddd d MMMM, hh:mm", cultureFr)</td>
                        <td>@item._blockDuree heures</td>
                    </tr>
                }
            }
    </tbody>
</table>

<h3>Fermetures passées :</h3>
<table class="table">
    <thead>
        <tr>
            <th>Bateau concerné :</th>
            <th>Prochaine fermeture :</th>
            <th>Durée de la fermeture :</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                if (item._closingDate < DateTime.Today) {
                    <tr>
                        <td>@item._boatName</td>
                        <td>@item._closingDate.ToString("dddd d MMMM, hh:mm", cultureFr)</td>
                        <td>@item._blockDuree heures</td>
                    </tr>
                }
            }
    </tbody>
</table>