@model Boat;
@using System.Globalization
@{
    var cultureFr = new CultureInfo("fr-FR");
}

<h1>Prochaine Fermeture</h1>

<table class="table">
    <thead>
        <tr>
            <td>Prochaine fermeture: <strong>@Model._closingDate.ToString("dddd d MMMM, hh:mm", cultureFr).</strong></th>
            <td>Prochaine réouverture: <strong>@Model._reopeningDate.ToString("dddd d MMMM, hh:mm", cultureFr).</strong></th>
            <td>Bateau concerné: <strong>@Model._boatName.<strong></td>
            <td>Durée de la fermeture: <strong>@Model._blockDuree heures.<strong></td>
            <td>Risque de bouchon: <strong>@Model._jamRisks<strong></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
